.twitter{
	@extend .masonry;

	.tweet {
		@extend .masonry-item;

		img {
			max-width: 100%;
		}

		&__content {
			background: rgba(33, 118, 175, 0.34);
			cursor: pointer;
			padding: 1rem;
		}
	}

}
