// Spice Vendor Prefix overides
// --------------------
$defaultVendors   : "";
$animationVendors : "";
$transformVendors : "";

@include normalise;

body {
	// background-color:#000;
	// @include verticalRhythm;
}

.centre {
	@include centre;
}