.discography{
	// @include fullScreen;

	position: relative;
    width: 100%;
    min-height: 100vh;

	.albums-wrapper {
		display: flex;
		align-items: center;
    	justify-content: center;
    	flex-wrap: wrap;

		.album {
			margin: 1rem;
		}
		@include clearFix;
	}

	iframe {
		// opacity: 0;
		border: 0;
		width: 350px;
		height: 470px;
	}
}
